.footer
  +gutters
  @extend %smallText
  text-align: center

  hr
    color: rgba($white, .2)

  &__container
    padding: 1em 0

  &__link
    &:not(:last-child)
      margin-bottom: 0.5em

    @media (min-width: $smallDesktop)
      display: none

  &__credit
    &-link
      +opacityHover
      text-decoration: none
