.header
  +gutters
  left: 0
  padding-bottom: 1em
  padding-top: 1em
  position: fixed
  top: 0
  width: 100%
  z-index: 999

  &__container
    align-items: center
    display: flex
    flex-wrap: nowrap
    justify-content: center

  .social-links,
  &__logo-container,
  &__contact
    flex: 0 0 33.33%

  .social-links,
  &__contact
    @media (max-width: $maxSmallDesktop)
      display: none

  &__logo
    font-size: 2.666666666666667em
    letter-spacing: .25em
    line-height: 1em
    margin: 0 auto

    &-container
      text-align: center

    &-link
      margin-right: -.75em // counter letter spacing from last letter
      text-decoration: none

  &__contact
    @extend %h3
    font-size: 1.444444444444444em
    letter-spacing: .05em
    line-height: 1em
    margin: 0
    text-align: right

    &-link
      +opacityHover
      text-decoration: none
