$fontStackSansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif
$fontStackSerif: 'Georgia', serif
$primaryFont: 'Merriweather', $fontStackSerif
$secondaryFont: 'Helvetica LT UltraCompressed', $fontStackSansSerif

$fontSize: 100%
$baseline: 1.333333333333333em

/* Browser widths */
$largeMobile: 30em // 480px
$maxLargeMobile: ($largeMobile - .0625em) // 479px
$tablet: 45em // 720px
$maxTablet: ($tablet - .0625em) // 719px
$smallDesktop: 63.75em // 1020px
$maxSmallDesktop: ($smallDesktop - .0625em) // 1019px
$mediumDesktop: 75em // 1200px
$desktop: 87.5em // 1400px
$largeDesktop: 100em // 1600px
$maxLargeDesktop: ($largeDesktop - .0625em) // 1599px
$cappedWidth: 105em // 1680px
$maxCappedWidth: ($cappedWidth - .0625em)

$containerWidth: 105em // 1680px

$gutterMobile: $baseline
$gutterTablet: ($baseline * 2)
$gutterDesktop: ($baseline * 3.5)

$blockSpacerMobile: ($gutterMobile * 1.428571428571429) // 30px
$blockSpacerTablet: ($gutterTablet * 1.5) // 60px
$blockSpacerDesktop: ($gutterDesktop * 1.357142857142857) // 95px

$transitionDuration: .3s
$transitionDurationLong: .5s
$transitionTimingFunction: ease

$opacityHover: .5

$borderRadius: .25em
